.movie-poster {
  height: 400px;
  object-fit: cover;
  object-position: center center;
}

.movie-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.movie-overview {
  font-size: 14px;
}
